{% extends "index.html" %}  

{% block mid %} 

<div class="grid grid-cols-4">
  <div class="p-2 h-auto border-slate-200 bg-slate-500 col-span-3">
    {% if user %}
      <canvas class="border-solid border-2 border-white-300" id="board"></canvas>
    {% else %}
      <p class="pt-10 pl-20 text-white">로그인 하세요.</p>
    {% endif %}
  </div>
  <div class="p-2 h-auto border-black bg-slate-300 col-span-1">
    {% if user %}
    <div>
      <input type="hidden" id="myNick" value="{{user.nick}}"></input>
      <input class="border-solid border-4 border-sky-300" id="myMsg" type="text">
      <button id="ready" type="button" class="px-3 py-1 text-gray-500 hover:text-white bg-yellow-400 rounded-full" onclick="window.gameReady()">Ready</button>
      <input id="start" type="hidden" class="px-3 py-1 text-gray-500 hover:text-white bg-green-400 rounded-full" onclick="window.bangJangStart()"></input>
    </div>
    {% endif %}
    <div>
      <textarea class="border-solid border-4 border-pink-300" readonly id="chat-log" style="height:400px; width:100%"></textarea>
    </div>
  </div>
</div>
{% if user %}
  <script src="/static/scripts/acid_rain/acid_rain.js" type="module"></script>
{% endif %}

{% endblock %}