{% extends "index.html" %}  

{% block mid %} 

<div class="grid grid-cols-4">
  <div class="p-2 h-auto border-slate-200 bg-slate-500 col-span-3">
    <canvas class="border-solid border-2 border-white-300" id="board"></canvas>
  </div>
  <div class="p-2 h-auto border-black bg-slate-300 col-span-1">
    {% if user %}
    <div>
      <select id="room">
        <option>대기실</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <input type="hidden" id="myNick" value="{{user.nick}}"></input>
      <input id="myMsg" type="text">
    </div>
    {% endif %}
    <div>전체 채팅방</div>
    <textarea readonly id="chat-log" style="height:400px; width:100%"></textarea>
  </div>
</div>
<script src="/static/scripts/acid_rain.js" type="module"></script>

{% endblock %}